@import "tailwindcss";

:root {
	--background: #190506;
	--foreground: #fff;
	--font-poppins: "Poppins", sans-serif;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-poppins: var(--font-poppins);
	--font-fredericka: var(--font-fredericka);
	--font-fredoka: var(--font-fredoka);
	--font-pacifico: var(--font-pacifico);
}

@utility container {
	@apply mx-auto max-w-[1300px] px-4 sm:px-6;
}

body {
	background-color: var(--background);
	color: var(--foreground);
	font-family: var(--font-poppins);
	height: 100vh;
}
